# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environnements Virtuels
.env
.venv
env/
venv/
ENV/

# Configuration IDE
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db
